/*Root variable - color palette */ 
:root {
    --cream: #f8f3ec;
    --beige: #e8d8c3;
    --gold: #c6a15b;
    --navy: #1f2d3d;
    --soft-blue: #dbe9ef;
    --white: #ffffff;
    --text: #2f2f2f;
    --muted: #6f6f6f;
    --shadow: 0 15px 40px rgba(31, 45, 61, 0.12);
    
}
/*Global - keeping space consistent*/ 
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: "Open Sans", sans-serifs;
    background:  var(--cream);
    color: var(--text);
    line-height: 1.7;
}
    /*image responsive*/
img{
    max-width: 100%;
    height: auto;
}  
     /* enhance phone touch interaction*/
button, a {
    touch-action: manipulation;
}

/* Typography - clear hierarchy*/ 

h1, h2, h3, h4 {
    color: var(--navy);
    font-weight: 800;
}
h1{
    font-size: clamp(2.4rem, 5vw, 4,7rem);
    line-height: 1.1;
}
h2{
    font-size: clamp(2 rem, 4vw, 3rem);
}
p {
    color: var(--muted);
}
/* Navigation Bar - fix for better UX*/ 

.custom-navbar{
    background: rgba(255, 255, 255, 0.93);
    backdrop-filter: blur(10px);
    box-shadow: o 4px 20px rgba(0, 0, 0, 0.04);
    padding: 12px 0;
}
    
    /* Js adds it when scrolling */

.navbar-scroll {
    background: var(--white);
    box-shadow: 0 8px 25px rgba(31, 45, 61, 0.15);
}
.navbar-brand{
   font-weight: 800;
   color: var(--navy) !important;
}
.nav-link {
    color: var(--navy) !important;
    font-weight: 600;
    margin-left: 10 px;
}
.nav-link:hover{
    color: var(--gold) !important;
}

     /* Navbar language button */
.language-btn{
    margin-left: 15px;
    padding: 6px 16px;
    border: 1px solid var(--white);
    background: var(--white);
    color: var(--navy);
    border-radius: 30px;
    font-weight: 700;
    transition: 0.3s ease;
}   
.language-btn:hover{
    background: var(--gold);
    color: var(--white);
}

/* Header section - screen with gradient*/ 
.banner-section{
    min-height: 100vh;
    padding: 145px 0 80px;
    background: linear-gradient(135deg, var(--cream) 0%, var(--soft-blue)100%);
}
.section{
    padding: 90px 0;
}
.section-light{
    background: var(--white);
}
.section-tag{
    color: var(--gold);
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 800;
    font-size: 0.85rem;
    margin-bottom: 12px;
}
.banner-text{
    font-size: 1.1.rem;
    max-width: 580px;
    margin: 24px 0;
}


/* Buttons - call to action */ 
.btn-brand{
    background: var(--navy) !important;
    color: white !important;
    padding: 12px 28px !important;
    border-radius:  40px !important;
    border: none !important;
    font-weight: 700 !important;
    transition: 0.3s ease;
}
.btn-brand:hover{
    background: var(--gold) !important;
    transform:  translateY(-2px);
}
.btn-custom-outline{
    border: 1px solid var(--navy) !important;
    color: var(--navy) !important;
    padding: 12px 28px !important;
    border-radius: 40px !important;
    font-weight: 700 !important;

}
.btn-custom-outline:hover{
    background:  var(--navy) !important;
    color: white !important;
}

button:active,
.btn:active{
    transform: scale(0.98);
}
/* Header image section - visual presentation*/ 
.banner-card{
    position: relative;
    background: white;
    padding: 18px;
    border-radius: 28px;
    box-shadow: var(--shadow);
}
.banner-card img{
    width: 100%;
    height: 520px;
    object-fit: cover;
    border-radius: 22px;
}
.banner-badge{
    position: absolute;
    bottom: 35px;
    left: 35px;
    background: white;
    padding: 14px 22px;
    border-radius:40px;
    box-shadow: var(--shadow);
    color: var(--navy);
    font-weight: 700;
}

/*About me section - personal branding */ 
.info-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 18px;
    margin-top: 30px;
}
.info-grid div{
    background: var(--white);
    padding: 28px;
    border-radius: 24px;
    box-shadow:  var(--shadow);
}
.info-grid h4{
    color: var(--gold);
    font-size: 2rem;
}

/* Shared section- card style utilized fro service, plans,step, gallery,form*/ 

.service-card,
.plan-card,
.gallery-card,
.contact-form{
    background: var(--white);
    padding: 28px;
    border-radius: 24px;
    box-shadow: var(--shadow);
}
/* Service section - hover to enhance interactivity - card*/ 
.service-card{
    height: 100%;
    transition: 0.3s ease;
}
.service-card:hover{
    transform: translateY(-8px);
}
.service-card i {
    font-size: 2.2rem;
    color:  var(--gold);
    margin-bottom: 16px;
}
.service-card h3{
    font-size: 1.25rem;
    margin-bottom: 15px;
}

/* Plans section - treatment selection*/ 
.plan-card{
    height: 100%;
    border: 1px solid transparent;
    transition: 0.3s ease;
    
}
.plan-card:hover{
    transform: translateY(-8px);
    border-color: var(--gold);
}
.plan-card.featured{
    background: linear-gradient(135deg, var(--navy), #31455c);
}
.plan-card.featured h3,
.plan-card.featured p {
    color: white;
}
.btn-plan{
background: var(--gold) !important;
color: white !important;
border-radius: 30px !important;
padding: 10px 22px !important;
font-weight: 700 !important;
}
.selected-plans{
    font-weight: 800;
    color: var(--navy);
}

/* Gallery section - before and after */ 
.gallery-card{
    overflow: hidden;
}
.gallery-card img {
    width: 100%;
    height: 320px;
    object-fit: cover;
    border-radius: 18px;
    margin-bottom: 15px;
}


/*Step section - explanation of the process the patient goes by - journey */ 

.step-card{
    height: 100%;
}
.step-card span{
    display: inline-block;
    color: var(--gold);
    font-weight: 800;
    margin-bottom: 15px;
}
.step-card h3{
    font-size: 1.25rem;
}


/* FAQ section - accordion interactive managed by JS*/ 
.faq-box{
    max-width: 850px;
    margin: auto;
}
.faq-item{
    background: var(--white);
    border-radius: 18px;
    margin-bottom: 16px;
    box-shadow: var(--shadow);
    overflow: hidden;
}
.faq-question{
    width: 100%;
    border: none;
    background: white;
    padding: 22px;
    text-align: left;
    font-weight: 800;
    color: var(--navy);
    cursor: pointer;
}
.faq-response{
    display: none;
    padding: 0 22px 22px;
    margin: 0;
}
    /* JS add.active */ 
.faq-item.active .faq-response{
    display: block;
}


/* Form and contact section - evaluation tool*/ 

.contact-section{
    background: linear-gradient(135deg, var(--cream), 0%,var(--soft-blue)100%);
}
.contact-form label{
    font-weight: 700;
    color: var(--navy);
    margin-bottom: 6px;
}
.form-control,
.form-select{
    border-radius: 14px !important;
    padding: 12px !important;
    border: 1px solid #ddd !important;
}
.form-control:focus,
.form-select:focus{
border-color: var(--gold) !important;
box-shadow: 0 0 0 0.15rem rgba(198, 161, 91,0.25) !important;
}
    /* Js response form message*/ 
.form-message{
    display: none;
    margin-top: 15px;
    font-weight: 700;
    color: var(--navy);
    text-align: center;
}
.form-message.message-show{
    display: block;
}
.form-note{
    font-size: 0.85rem;
    margin-top: 10px;
}
    /* WhatsApp button */
.btn-whatsapp{
    background: #25bf5e !important;
    color: white !important;
    padding: 12px 28px !important;
    border-radius: 40px !important;
    margin-top: 15px;
    font-weight: 700 !important;
    display: inline-block;
}
.btn-whatsapp:hover{
    background: #108940ef !important;
    color: white !important;
}

/* Footer section */ 
footer{
    background: var(--navy);
    text-align: center;
    padding: 25px;
}
footer p{
    color: white;
    margin: 0;
}





/* Table device - responsive enhance layout design*/ 
@media (max-width: 992px){
    .banner-section{
        padding-top: 130px;
        text-align: center;
    }
    .banner-text{
        margin-left: auto;
        margin-right: auto;
    }
    .banner-card img {
        height: 430px;
    }
    .info-grid{
        grid-template-columns: 1ft;
    }
    .language-btn{
        margin-top: 12px;
        margin-left: 0;
    }
}


/* Phone device - responsive layout design */ 

@media(max-width: 768px){
    body{
        font-size: 15px;
    }
    h1{
        font-size: 2.2rem;
    }
    h2{
        font-size: 1.8rem;
    }
    .banner-section{
        padding: 120px 0 60px;
        text-align: center;
    }
    .section{
        padding: 70px 0;
    }
    .banner-text{
        font-size: 1rem;
    }
    .banner-card img {
        height: 360px;
    }
    .banner-badge{
        left: 20px;
        right: 20px;
        text-align: center;
    }
    .nav-link{
        margin:10px 0
    }
    .btn-brand,
    .btn-custom-outline,
    .btn-whatsapp{
        width: 100%;
        text-align: center;
    }
    .service-card,
    .plans-card,
    .step-card,
    .gallery-card{
        margin-bottom: 20px;
    }
    .gallery-card img {
        height: 260px;
    }
    .form-control,
    .form-select{
        width: 100%;
    }
}

/*  Extra aid for small screen */ 
@media (max-width: 480px){

h1{
    font-size: 1.95rem;
}
h2{
    font-size: 1.6rem;
}
.banner-section{
    padding-top: 110px;
}
.banner-card{
    height: 300px;
}
.service-card,
.plans-card,
.step-card,
.gallery-card,
.contact-form {
padding: 22px;
}
.banner-badge{
font-size: 0.9rem;
padding: 12px 16px;
}

}